@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300&display=swap");

@keyframes focus-on {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes focus-off {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  text-decoration: none;
  font-family: "Tajawal", sans-serif;
}

body {
  font-size: 10px;
  overflow-x: hidden;
}

.header {
  margin: 5px auto;
  display: flex;
  width: 95vw;
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
  a {
    font-size: 1rem;
  }
  p {
    font-size: 1.5rem;
  }
}

.weather--banner {
  display: flex;
  width: 100vw * 2;
  margin: auto;
  justify-content: space-between;
  .weather--day {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    img,
    p {
      padding: 3px;
    }
    img {
      height: 30px;
    }
  }
}

.weather--error {
  width: 90vw;
  text-align: center;
  margin: auto;
}

.feed-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-flow: row;
  width: 80vw;
  height: 80vh;
  margin: auto;
  overflow-y: auto;
  scroll-behavior: smooth;
  .feed--article {
    // position: absolute;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 0.5rem;
    width: 100%;
    margin: 15px auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 0.9rem;
    > p {
      align-self: center;
      text-align: center;
    }
    .feed--article--head {
      display: flex;
      padding: 10px;
      .feed--article--info {
        width: 85%;
        p {
          font-size: 1rem;
        }
      }
      .feed--article--follow {
        // width: 15%;
        text-align: center;
        align-self: center;
        cursor: default;
      }
      .feed--article--follow:hover {
        text-decoration: underline;
      }
    }
    img {
      width: 100%;
      min-height: 60%;
      position: relative;
      bottom: 0;
      opacity: 0.5;
      border-radius: 0.5rem;
      animation: focus-off 500ms ease-in-out backwards alternate;
      cursor: pointer;
    }
  }
  .feed--article:hover {
    border-color: hsla(0, 0%, 50%, 0.5);
  }
  .feed--article:hover > img {
    animation: focus-on 500ms ease-in-out forwards alternate;
  }
}
.feed-container::-webkit-scrollbar {
  width: 0;
}

.toTop {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  width: 40px;
  height: 40px;
  bottom: 10%;
  right: 5%;
  border: solid 1px hsla(0, 0%, 50%, 0.5);
  border-radius: 20px;
  animation: fade-in 750ms ease-in-out backwards;
  img {
    transform: rotate(180deg);
  }
}
.toTop:hover {
  border-color: hsla(0, 0%, 50%, 1);
}
