@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300&display=swap");
@-webkit-keyframes focus-on {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes focus-on {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes focus-off {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes focus-off {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  text-decoration: none;
  font-family: "Tajawal", sans-serif;
}

body {
  font-size: 10px;
}

.header {
  margin: 5px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95vw;
  padding: 1rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header a {
  font-size: 1rem;
}

.header p {
  font-size: 1.5rem;
}

.weather--banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90vw;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.weather--banner .weather--day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather--banner .weather--day img,
.weather--banner .weather--day p {
  padding: 3px;
}

.weather--banner .weather--day img {
  height: 30px;
}

.feed-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80vw;
  height: 80vh;
  margin: auto;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.feed-container .feed--article {
  border: 1px solid white;
  border-radius: 0.5rem;
  width: 100%;
  margin: 15px auto;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.9rem;
}

.feed-container .feed--article .feed--article--head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.feed-container .feed--article .feed--article--head .feed--article--info {
  width: 85%;
}

.feed-container .feed--article .feed--article--head .feed--article--info p {
  font-size: 1rem;
}

.feed-container .feed--article .feed--article--head .feed--article--follow {
  width: 15%;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

.feed-container .feed--article .feed--article--head .feed--article--follow:hover {
  text-decoration: underline;
}

.feed-container .feed--article img {
  height: 100%;
  position: relative;
  opacity: 0.5;
  border-radius: 0.5rem;
  -webkit-animation: focus-off 750ms ease-in-out backwards alternate;
          animation: focus-off 750ms ease-in-out backwards alternate;
  cursor: pointer;
}

.feed-container .feed--article img:hover {
  -webkit-animation: focus-on 750ms ease-in-out forwards alternate;
          animation: focus-on 750ms ease-in-out forwards alternate;
}

.feed-container .feed--article:hover {
  border-color: rgba(128, 128, 128, 0.5);
}

.feed-container::-webkit-scrollbar {
  width: 0;
}

.top {
  display: hidden;
}

.toTop {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 20px;
  width: 40px;
  height: 40px;
  bottom: 10%;
  right: 5%;
  border: solid 1px rgba(128, 128, 128, 0.5);
  border-radius: 20px;
  -webkit-animation: fade-in 750ms ease-in-out backwards;
          animation: fade-in 750ms ease-in-out backwards;
}

.toTop img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.toTop:hover {
  border-color: gray;
}
/*# sourceMappingURL=index.css.map */